body {
  font-family: "Source Sans Pro", sans-serif; }

path, line {
  fill: none;
  stroke-width: 2.5px;
  stroke: #80bec7; }

rect, circle {
  fill: #80bec7; }

text {
  font-family: "Source Sans Pro", sans-serif; }

.axis .tick line {
  stroke: #333333;
  stroke-width: 1px; }
.axis .tick text {
  font-size: 13px; }
.axis path {
  stroke: #333333;
  stroke-width: 1px; }
