!!!
%html
  %head
    %title AngleCharts Test: Visual inspection of all charts
    %script(src='test.js')

  %body
    %h1 AngleCharts Test: Visual inspection of all charts

    %h3 Angle.BarChart
    #bar-chart
  
    %h3 Angle.LineChart
    #line-chart

    %h3 Angle.OHLCChart
    #ohlc-chart

    %h3 Angle.ScatterPlot
    #scatter-plot

    %h3 Angle.Slopeograph
    #slopeograph

    %h3 Angle.Sparkline
    #sparkline
